body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    animation-name: backgroundColorPalette;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes backgroundColorPalette {
    0% {
        background: rgb(174, 170, 170);
    }
    25%{
    background: rgb(133, 129, 129);
    }
    50% {
        background: rgb(50, 47, 47);
    }
    75% {
        background: rgb(31, 27, 27);
    }
    100% {
        background: rgb(0, 0, 0);
    }
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
}
.nav > li > a {
    text-decoration: none;
    color: white;
}
.nav > li> a:hover {
    color: #D27D2D;
}
.opening-header {
    color: white;
    text-align: center;

}
#container {
    display: flex;
    align-items: center;
    color: white;
}
#container img {
    margin-right: 30px;
    width: 500px;
    height: 500px;
}
.column {
    float: left;
    width: 30%;
    padding: 10px;
}
.row::after{
    content:"";
    display: table;
    clear: both;
}
.video {
    display: block;
    margin: 0 auto;
}