html {
    background: black;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
}

h1 {
    font-weight: 200;
    font-size: 14vw;
    color: white;
}
h2 {
    color: lightblue;
    font-family: 'Roboto', sans-serif;
}
.activities {
    font-size: 5vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: lightblue;
}
.homework {
    color: lightblue;
    font-family: 'Roboto', sans-serif;
   font-weight: 700;
     font-size: 5vh;    
}
.projects {
    color: lightblue;
    font-family: 'Roboto', sans-serif;
   font-weight: 700;
    font-size: 5vh;
}
a {
    color: white;
    text-decoration: none;
}
 