html {
    background: rgb(249, 239, 214);
    font-family: 'Abril Fatface', cursive;
    font-size: large;
    text-align: center;
}

h1 {
    font-weight: 200;
    font-size: 14vw;
    color: rgb(198, 103, 44);
}
h2 {
    color: rgb(96, 133, 112);
    font-family: 'Source Code Pro', monospace;
}
.activities {
    font-size: 5vh;
    font-family: 'Source Code Pro', monospace;
    color: rgb(96, 133, 112);
}
.homework {
    color: rgb(96, 133, 112);
    font-family: 'Source Code Pro', monospace;
   
     font-size: 5vh;    
}
.projects {
    color: rgb(96, 133, 112);
    font-family: 'Source Code Pro', monospace;
   
    font-size: 5vh;
}
a {
    color: rgb(193, 132, 86);
    text-decoration: none;
}
 