body {
    color:rgb(107, 143, 107);
    font-family: 'Roboto', sans-serif;
    background-color: white
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
   font-size: 36px;
   font-weight: 400;
   line-height: 1.4;
}
h1 {
    font-weight: 500;
    font-size: 10vh;
    text-align: center;
}


 
a {
    color:rgb(107, 143, 107);
    text-decoration: none;
    border-bottom: 1px solid;
    margin-bottom: 36px;
}

a:hover {
    border-bottom: 1px dotted;
}