
body {
    background-color: black;
    margin: 0;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    color: white;
  }
  
  /* i'm using the z index to move the slider on top of the container */
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  