body{
    color: white;
    background: linear-gradient(-45deg, #000000, #575354, #000000, #7c7e7d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }

}
.paragraph-one{
    position: absolute;
    width: 900px;
    height: 700px;
    left: 200px;
    top: 250px;
    font-size: 2vw;
    animation: fadeIn infinite 7s;
}
@keyframes fadeIn {
    80% {opacity: 0;}
    30% {opacity: 1;}
    } 
.continue-button{
 font-family: 'Roboto', sans-serif;
position: absolute;
font-size: 1.5vw;
width: 300px;
height: 700px;
left: 200px;
top: 700px;
letter-spacing: 4px;   
}
a {
    color: white;
    text-decoration: none;
}
.menu {
font-family: 'Roboto', sans-serif;
font-size: 1vw;
position: relative;
width: 600px;
height: 5px;
left: 900px;
top: -100px;
transform: rotate(-89.73deg);
letter-spacing: 2px;
}