body {
    background-color: black;
    color: white;
}
h1{
    text-align: center;
}
.in {
    font-family: 'Roboto', sans-serif;
}
.praise {
    font-family: Georgia;
    font-weight: 500;
}
.of {
    font-family: 'Roboto', sans-serif;
}
.shadows {
    font-family: Georgia;
    font-weight: 500;
}
h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}