body{
    background-color: black;
    color: white;
}

.header {
padding: 70px;
position: absolute;
top: 8px;
font-family: 'Source Code Pro', monospace;
font-size: 10px;

}
.phraseone {
    padding: 70px;
    text-align: left;
    font-family: 'Noto Serif Display', serif;
    font-size:40px;
    font-style: normal;
    font-weight: 400;
}
.continue-button {
    position: absolute;
    padding: 30px;
    bottom: 0;
    left: 0;
    font-size: 25px;
    font-style: normal;
    font-family: 'Source Code Pro', monospace;
}
a {
    color: white;
    text-decoration: none;
}