body {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 600; 
    color: white;
    background-color: tomato;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
    text-decoration: underline;
  }
  
  .entries {
    margin-bottom: 60px;
  }
  
  .heading {
    margin-bottom: 60px;
  }
  
  .chapter {
    letter-spacing: 10px;
    text-decoration: underline;
  }
  
  p {
    margin: 0;
  }
  
  .page {
    margin-top: 10px;
  }
  
  
  span {
    display: block;
  }