
body {
    background-color:  rgb(203, 244, 208);
  }
  
  section {
    display:  flex;
    flex-direction:  column;
    justify-content: center;
    align-items:  center;
    height:  100vh;
  }
  
  .button {
    padding: 20px 50px;
    border-radius: 30px;
    background-color:  white;
    color:  black;
    font-size:  60px;
    font-size: 20px;
    text-align:  center;
    transition:  all 100ms;
  }
  
  .button:hover {
    background-color: #0f3c1e;
    cursor:  pointer;
  }

.buttonOn {
  background-color:  black;
  color:  white;
}

.light {
  background-color: green;
}